In [14]:
import re
lines = []
Questions = []
Golds = []
QSplitted = []
GSplitted = []
col = []
Qid = []
lines = list(open("spider_multi_col_22000.txt", "r", encoding='utf-8').readlines())
# you may also want to remove whitespace characters like `\n` at the end of each line

Qids = list(open("spider_multi_col_dev.txt", "r", encoding='utf-8').readlines())

for i in range(0, len(Qids)):
    if i%4 == 1:
        Qid.append(Qids[i].strip('\n'))

for i in range(0, len(lines)):
    if i%3 == 0:
        Questions.append(lines[i])
        QSplitted.append(re.split(', and |, | and |\n',lines[i].strip("\n")))
    if i%3 == 1:
        Golds.append(lines[i])
        column = lines[i][7: lines[i].index("FROM")]
        col.append(re.split(' ,  | , ',column.strip(' '))) 

special = {"avg": "average ", "min": "minimum ", "max": "maximum ", 
         "sum": "sum of ", "count": "number of ", "Count": "number of ", "COUNT": "number of ", "count(DISTINCT": "number of different "}
        
for c in col:
    for i in range(0, len(c)):
        if "(" in c[i]:
            if 'count(DISTINCT' in c[i]:
                op = 'count(DISTINCT'
                att = c[i].strip('count(DISTINCT').strip(' ').strip(')')
            else:
                op = c[i][0:c[i].index('(')]
                att = c[i][c[i].index('(')+1:c[i].index(')')]
            if att == "*":
                c[i] = special[op.strip(' ')]
            else:
                c[i] = special[op.strip(' ')] + att

In [15]:

# Dynamic programming implementation of LCS problem 

# Returns length of LCS for X[0..m-1], Y[0..n-1] 
def lcs(X, Y, m, n): 
    L = [[0 for x in range(0, n+1)] for x in range(0, m+1)] 

    # Following steps build L[m+1][n+1] in bottom up fashion. Note 
    # that L[i][j] contains length of LCS of X[0..i-1] and Y[0..j-1] 
    for i in range(0, m+1): 
        for j in range(0, n+1): 
            if i == 0 or j == 0: 
                L[i][j] = 0
            elif X[i-1] == Y[j-1]: 
                L[i][j] = L[i-1][j-1] + 1
            else: 
                L[i][j] = max(L[i-1][j], L[i][j-1]) 
    
    # Following code is used to print LCS 
    index = L[m][n] 

    # Create a character array to store the lcs string 
    lcs = [""] * (index+1) 
    lcs[index] = "" 

    # Start from the right-most-bottom-most corner and 
    # one by one store characters in lcs[] 
    i = m 
    j = n 
    while i > 0 and j > 0: 

        # If current character in X[] and Y are same, then 
        # current character is part of LCS 
        if X[i-1] == Y[j-1]: 
            lcs[index-1] = X[i-1] 
            i-=1
            j-=1
            index-=1

        # If not same, then find the larger of two and 
        # go in the direction of larger value 
        elif L[i-1][j] > L[i][j-1]: 
            i-=1
        else: 
            j-=1
            
    return ''.join(lcs)
	#print ("LCS of " + X + " and " + Y + " is " + "".join(lcs) )

# Driver program 
X = "AGGTAB"
Y = "GXTXAYB"
m = len(X) 
n = len(Y) 
lcs(X, Y, m, n) 

# This code is contributed by BHAVYA JAIN

'GTAB'

In [48]:
split = []
compare = []
count = 0
for i in range(0,len(col)):
    
    compare.append([len(QSplitted[i]), len(col[i])])
    #same.append(len(QSplitted[i]) == len(col[i]))
    if len(QSplitted[i]) == len(col[i]):
        tempfront = ''
        temprear = ''
        tempf = QSplitted[i][0].split(' ')
        tempr = QSplitted[i][len(col[i])-1].split(' ')
        #print(tempf)
        #print(tempr)
        
        ## Find the part of question in front of the first attribute
        frontScores = []
        frontCols = []
        for j in range(0, len(tempf)):
            #print(tempfront)
            tempfront = (tempf[len(tempf)-j-1] + ' ' + tempfront).strip(' ')
            #print('front = ' + tempfront)
            #print('col = ' + col[i][0])
            #print(lcs(tempfront, col[i][0], len(tempfront), len(col[i][0])))
            firstCol = col[i][0]
            frontScores.append(pow(len(lcs(tempfront.lower(), firstCol.lower(), len(tempfront), len(firstCol))), 2)/len(tempfront)/len(firstCol))
            frontCols.append(tempfront)
            #print(frontScores)
            #print(frontCols)
        frontIndex = frontScores.index(max(frontScores))
        frontCol = frontCols[frontIndex]
        #front = QSplitted[i][0].replace(frontCol, '', 1)
        front = ''.join(QSplitted[i][0].rsplit(frontCol, 1))
        ## Find the part of question after the last ribute
        rearScores = []
        rearCols = []
        for j in range(0, len(tempr)):
            #front = front + QSplitted[0]
            #print(temprear)
            temprear = (temprear + ' ' + tempr[j]).strip(' ')
            #print('rear = ' + temprear)
            #print('col = ' + col[i][len(col[i])-1])
            #print(lcs(temprear.lower(), col[i][len(col[i])-1], len(temprear), len(col[i][len(col[i])-1])))
            lastCol = col[i][len(col[i])-1]
            rearScores.append(pow(len(lcs(temprear.lower(), lastCol.lower(), len(temprear), len(lastCol))), 2)/len(temprear)/len(lastCol))
            rearCols.append(temprear)
            #print(rearScores)
            #print(rearCols)
        rearIndex = rearScores.index(max(rearScores))
        rearCol = rearCols[rearIndex]
        rear = QSplitted[i][len(QSplitted[i])-1].replace(rearCol, '', 1)        
        
        ## Split this question
        q = front + frontCol + rear
        g = 'SELECT ' + firstCol + Golds[i][Golds[i].index(' FROM'):]
        split.append([q, g.strip('\n'), Qid[i]])
        
        if len(QSplitted[i]) > 2:
            for h in range(1, len(QSplitted[i])-1):
                q = front + QSplitted[i][h] + rear
                g = 'SELECT ' + col[i][h] + Golds[i][Golds[i].index(' FROM'):]
                split.append([q, g.strip('\n'), Qid[i]])
    
        q = front + rearCol + rear
        g = 'SELECT ' + lastCol + Golds[i][Golds[i].index(' FROM'):]
        split.append([q, g.strip('\n'), Qid[i]])     
        ## count how many questions can be splitted using the algorithm
        count = count + 1
    else: split.append(col[i])
    

print(split)
print('Report:')
print('We split ' + str(count) + '/' + str(len(col)) + ' questions into a total of ' + str(len(split)) + ' questions. The percentage is about ' + str(round(100*(count)/(len(col)), 2)))
print('On average, the split questions have ' + str(round((len(split)-(len(col)-count))/count, 2)) + ' columns.')

[['Show name for all singers ordered by age from the oldest to the youngest.', 'SELECT name FROM singer ORDER BY age DESC', 'concert_singer'], ['Show country for all singers ordered by age from the oldest to the youngest.', 'SELECT country FROM singer ORDER BY age DESC', 'concert_singer'], ['Show age for all singers ordered by age from the oldest to the youngest.', 'SELECT age FROM singer ORDER BY age DESC', 'concert_singer'], ['What are the names for every singer in descending order of age?', 'SELECT name FROM singer ORDER BY age DESC', 'concert_singer'], ['What are the countries for every singer in descending order of age?', 'SELECT country FROM singer ORDER BY age DESC', 'concert_singer'], ['What are the ages for every singer in descending order of age?', 'SELECT age FROM singer ORDER BY age DESC', 'concert_singer'], ['What is the average of all singers from France?', "SELECT average age FROM singer WHERE country  =  'France'", 'concert_singer'], ['What is the minimum of all singers from France?', "SELECT minimum age FROM singer WHERE country  =  'France'", 'concert_singer'], ['What is the maximum age of all singers from France?', "SELECT maximum age FROM singer WHERE country  =  'France'", 'concert_singer'], ['What is the average for all French singers?', "SELECT average age FROM singer WHERE country  =  'France'", 'concert_singer'], ['What is the minimum for all French singers?', "SELECT minimum age FROM singer WHERE country  =  'France'", 'concert_singer'], ['What is the maximum age for all French singers?', "SELECT maximum age FROM singer WHERE country  =  'France'", 'concert_singer'], ['Show the name of the song by the youngest singer.', 'SELECT song_name FROM singer ORDER BY age LIMIT 1', 'concert_singer'], ['Show the the release year of the song by the youngest singer.', 'SELECT song_release_year FROM singer ORDER BY age LIMIT 1', 'concert_singer'], ['What are the names for all the songs of the youngest singer?', 'SELECT song_name FROM singer ORDER BY age LIMIT 1', 'concert_singer'], ['What are the release years for all the songs of the youngest singer?', 'SELECT song_release_year FROM singer ORDER BY age LIMIT 1', 'concert_singer'], ['Show all countries singers in each country.', 'SELECT country FROM singer GROUP BY country', 'concert_singer'], ['Show all the number of singers in each country.', 'SELECT number of  FROM singer GROUP BY country', 'concert_singer'], ['country', 'number of '], ['LOCATION', 'name'], ['LOCATION', 'name'], ['What is the average of all stadiums?', 'SELECT average capacity FROM stadium', 'concert_singer'], ['What is the the maximum capacity of all stadiums?', 'SELECT maximum capacity FROM stadium', 'concert_singer'], ['What is the average for all stations?', 'SELECT average capacity FROM stadium', 'concert_singer'], ['What is the maximum capacities for all stations?', 'SELECT maximum capacity FROM stadium', 'concert_singer'], ['What is the name for the stadium with highest average attendance?', 'SELECT name FROM stadium ORDER BY average DESC LIMIT 1', 'concert_singer'], ['What is the capacity for the stadium with highest average attendance?', 'SELECT capacity FROM stadium ORDER BY average DESC LIMIT 1', 'concert_singer'], ['What is the name for the stadium with the highest average attendance?', 'SELECT name FROM stadium ORDER BY average DESC LIMIT 1', 'concert_singer'], ['What is the capacity for the stadium with the highest average attendance?', 'SELECT capacity FROM stadium ORDER BY average DESC LIMIT 1', 'concert_singer'], ['Show the stadium name concerts in each stadium.', 'SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id', 'concert_singer'], ['Show the stadium the number of concerts in each stadium.', 'SELECT number of  FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id', 'concert_singer'], ['For each stadium', 'SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id', 'concert_singer'], ['For each how many concerts play there?', 'SELECT number of  FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id GROUP BY T1.stadium_id', 'concert_singer'], ['Show the stadium name with most number of concerts in year 2014 or after.', 'SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1', 'concert_singer'], ['Show the stadium capacity with most number of concerts in year 2014 or after.', 'SELECT T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1', 'concert_singer'], ['What is the name of the stadium  with the most concerts after 2013?', 'SELECT T2.name FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1', 'concert_singer'], ['What is the capacity of the stadium  with the most concerts after 2013?', 'SELECT T2.capacity FROM concert AS T1 JOIN stadium AS T2 ON T1.stadium_id  =  T2.stadium_id WHERE T1.year  >=  2014 GROUP BY T2.stadium_id ORDER BY count(*) DESC LIMIT 1', 'concert_singer'], ['Show the name singers in each concert.', 'SELECT T2.concert_name FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id', 'concert_singer'], ['Show theme for all concerts singers in each concert.', 'SELECT T2.theme FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id', 'concert_singer'], ['Show the number of singers in each concert.', 'SELECT number of  FROM singer_in_concert AS T1 JOIN concert AS T2 ON T1.concert_id  =  T2.concert_id GROUP BY T2.concert_id', 'concert_singer'], ['T2.concert_name', 'T2.theme', 'number of '], ['List singer names concerts for each singer.', 'SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id', 'concert_singer'], ['List singer number of concerts for each singer.', 'SELECT number of  FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id', 'concert_singer'], ['What are the names of the singers concerts for each person?', 'SELECT T2.name FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id', 'concert_singer'], ['What are number of concerts for each person?', 'SELECT number of  FROM singer_in_concert AS T1 JOIN singer AS T2 ON T1.singer_id  =  T2.singer_id GROUP BY T2.singer_id', 'concert_singer'], ["what is the name who have a song having 'Hey' in its name?", "SELECT name FROM singer WHERE song_name LIKE '%Hey%'", 'concert_singer'], ["what is the nation of the singer who have a song having 'Hey' in its name?", "SELECT country FROM singer WHERE song_name LIKE '%Hey%'", 'concert_singer'], ["What is the name of origin of every singer who has a song with the word 'Hey' in its title?", "SELECT name FROM singer WHERE song_name LIKE '%Hey%'", 'concert_singer'], ["What is the country of origin of every singer who has a song with the word 'Hey' in its title?", "SELECT country FROM singer WHERE song_name LIKE '%Hey%'", 'concert_singer'], ['T2.name', 'T2.location'], ['T2.name', 'T2.location'], ['Find the maximum weight for each type of pet. List the maximum weight', 'SELECT maximum weight FROM pets GROUP BY petType', 'pets_1'], ['Find the maximum weight for each type of pet. List the pet type.', 'SELECT petType FROM pets GROUP BY petType', 'pets_1'], ['List the maximum weight for each type of pet.', 'SELECT maximum weight FROM pets GROUP BY petType', 'pets_1'], ['List the type for each type of pet.', 'SELECT petType FROM pets GROUP BY petType', 'pets_1'], ['Find the major of students who do not have a cat pet.', "SELECT major FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')", 'pets_1'], ['Find the age of students who do not have a cat pet.', "SELECT age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')", 'pets_1'], ['What major is every student who does not own a cat as a pet how old are they?', "SELECT major FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')", 'pets_1'], ['What also how old are they?', "SELECT age FROM student WHERE stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')", 'pets_1'], ['Find the first name of students who have a dog but do not have a cat as a pet.', "SELECT T1.fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')", 'pets_1'], ['Find the first age of students who have a dog but do not have a cat as a pet.', "SELECT T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'dog' AND T1.stuid NOT IN (SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid JOIN pets AS T3 ON T3.petid  =  T2.petid WHERE T3.pettype  =  'cat')", 'pets_1'], ['T1.fname', 'T1.age'], ['Find the type of the youngest pet.', 'SELECT pettype FROM pets ORDER BY pet_age LIMIT 1', 'pets_1'], ['Find the weight of the youngest pet.', 'SELECT weight FROM pets ORDER BY pet_age LIMIT 1', 'pets_1'], ['What type of pet is the youngest animal', 'SELECT pettype FROM pets ORDER BY pet_age LIMIT 1', 'pets_1'], ['What type of how much does it weigh?', 'SELECT weight FROM pets ORDER BY pet_age LIMIT 1', 'pets_1'], ['Find the id of all pets whose age is older than 1.', 'SELECT petid FROM pets WHERE pet_age  >  1', 'pets_1'], ['Find the weight of all pets whose age is older than 1.', 'SELECT weight FROM pets WHERE pet_age  >  1', 'pets_1'], ['What is the id of every pet who is older than 1?', 'SELECT petid FROM pets WHERE pet_age  >  1', 'pets_1'], ['What is the weight of every pet who is older than 1?', 'SELECT weight FROM pets WHERE pet_age  >  1', 'pets_1'], ['average pet_age', 'maximum pet_age', 'pettype'], ['average pet_age', 'maximum pet_age', 'pettype'], ['average weight', 'pettype'], ['average weight', 'pettype'], ['Find the first name of students who have a pet.', 'SELECT DISTINCT T1.fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid', 'pets_1'], ['Find the age of students who have a pet.', 'SELECT T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid', 'pets_1'], ['What are the different first names of the students who do have pets?', 'SELECT DISTINCT T1.fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid', 'pets_1'], ['What are the different ages of the students who do have pets?', 'SELECT T1.age FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid', 'pets_1'], ['Find the number of pets for each student who has any pet id.', 'SELECT number of  FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid', 'pets_1'], ['Find the student id.', 'SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid', 'pets_1'], ['For students who have pets have?', 'SELECT number of  FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid', 'pets_1'], ['For how many pets does each student have?', 'SELECT T1.stuid FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid', 'pets_1'], ['Find the first name who have more than one pet.', 'SELECT T1.fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid HAVING count(*)  >  1', 'pets_1'], ['Find the first gender of student who have more than one pet.', 'SELECT T1.sex FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid HAVING count(*)  >  1', 'pets_1'], ['What is the first name all the students who have more than one pet?', 'SELECT T1.fname FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid HAVING count(*)  >  1', 'pets_1'], ['What is the first gender of the all the students who have more than one pet?', 'SELECT T1.sex FROM student AS T1 JOIN has_pet AS T2 ON T1.stuid  =  T2.stuid GROUP BY T1.stuid HAVING count(*)  >  1', 'pets_1'], ['How many countries does each continent have? List the continent id countries.', 'SELECT T1.ContId FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.Continent GROUP BY T1.ContId;', 'car_1'], ['How many countries does each continent have? List continent name countries.', 'SELECT T1.Continent FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.Continent GROUP BY T1.ContId;', 'car_1'], ['How many countries does each continent have? List the number of countries.', 'SELECT number of  FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.Continent GROUP BY T1.ContId;', 'car_1'], ['T1.ContId', 'T1.Continent', 'number of '], ['How many models does each car maker produce? List maker full name', 'SELECT T1.FullName FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;', 'car_1'], ['How many models does each car maker produce? List maker id', 'SELECT T1.Id FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;', 'car_1'], ['How many models does each car maker produce? List maker the number.', 'SELECT number of  FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;', 'car_1'], ['What is the full name of each car maker', 'SELECT T1.FullName FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;', 'car_1'], ['What is along with its id', 'SELECT T1.Id FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;', 'car_1'], ['What is how many models it produces?', 'SELECT number of  FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id;', 'car_1'], ['Find the make that were produced in the earliest year?', 'SELECT T2.Make FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);', 'car_1'], ['Find the production time of the cars that were produced in the earliest year?', 'SELECT T1.Year FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);', 'car_1'], ['What is the maker of the carr produced in the earliest year was it?', 'SELECT T2.Make FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);', 'car_1'], ['What is the maker of the carr produced in what year was it?', 'SELECT T1.Year FROM CARS_DATA AS T1 JOIN CAR_NAMES AS T2 ON T1.Id  =  T2.MakeId WHERE T1.Year  =  (SELECT min(YEAR) FROM CARS_DATA);', 'car_1'], ['How many car makers are there in each continents? List the continent name', 'SELECT T1.Continent FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;', 'car_1'], ['How many car makers are there in each continents? List the the count.', 'SELECT number of  FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;', 'car_1'], ['What is the name of each continent in each one?', 'SELECT T1.Continent FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;', 'car_1'], ['What is the name of each how many car makers are there in each one?', 'SELECT number of  FROM CONTINENTS AS T1 JOIN COUNTRIES AS T2 ON T1.ContId  =  T2.continent JOIN car_makers AS T3 ON T2.CountryId  =  T3.Country GROUP BY T1.Continent;', 'car_1'], ['number of ', 'T2.FullName', 'T2.id'], ['What is the number of car models that are produced by each maker name of each maker?', 'SELECT number of  FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id;', 'car_1'], ['What is the what is the id name of each maker?', 'SELECT T2.FullName FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id;', 'car_1'], ['What is the full name of each maker?', 'SELECT T2.id FROM MODEL_LIST AS T1 JOIN CAR_MAKERS AS T2 ON T1.Maker  =  T2.Id GROUP BY T2.id;', 'car_1'], ['What are all the makers', 'SELECT Maker FROM MODEL_LIST;', 'car_1'], ['What are all the models?', 'SELECT Model FROM MODEL_LIST;', 'car_1'], ['What are the makers', 'SELECT Maker FROM MODEL_LIST;', 'car_1'], ['What are the models?', 'SELECT Model FROM MODEL_LIST;', 'car_1'], ['What are the countries having at least one car maker? List name', 'SELECT T1.CountryName FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >=  1;', 'car_1'], ['What are the countries having at least one car maker? List id.', 'SELECT T1.CountryId FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >=  1;', 'car_1'], ['What are the names with at least one car maker?', 'SELECT T1.CountryName FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >=  1;', 'car_1'], ['What are the ids of all countries with at least one car maker?', 'SELECT T1.CountryId FROM COUNTRIES AS T1 JOIN CAR_MAKERS AS T2 ON T1.CountryId  =  T2.Country GROUP BY T1.CountryId HAVING count(*)  >=  1;', 'car_1'], ['average Weight', 'YEAR'], ['What is the average weight for each year?', 'SELECT average Weight FROM CARS_DATA GROUP BY YEAR;', 'car_1'], ['What is the year for each year?', 'SELECT YEAR FROM CARS_DATA GROUP BY YEAR;', 'car_1'], ['What is the maximum horsepower of the car models with 3 cylinders?', 'SELECT T2.horsepower FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.cylinders  =  3 ORDER BY T2.horsepower DESC LIMIT 1;', 'car_1'], ['What is the maximum the make of the car models with 3 cylinders?', 'SELECT T1.Make FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.cylinders  =  3 ORDER BY T2.horsepower DESC LIMIT 1;', 'car_1'], ['What is the largest amount of horsepower for the models with 3 cylinders is it?', 'SELECT T2.horsepower FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.cylinders  =  3 ORDER BY T2.horsepower DESC LIMIT 1;', 'car_1'], ['What is the largest amount of what make is it?', 'SELECT T1.Make FROM CAR_NAMES AS T1 JOIN CARS_DATA AS T2 ON T1.MakeId  =  T2.Id WHERE T2.cylinders  =  3 ORDER BY T2.horsepower DESC LIMIT 1;', 'car_1'], ['maximum Accelerate', 'Cylinders'], ['maximum Accelerate', 'Cylinders'], ['Which makers designed more than 3 car models? List full name', 'SELECT T1.FullName FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >  3;', 'car_1'], ['Which makers designed more than 3 car models? List the id.', 'SELECT T1.Id FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >  3;', 'car_1'], ['What are the names of all makers with more than 3 models?', 'SELECT T1.FullName FROM CAR_MAKERS AS T1 JOIN MODEL_LIST AS T2 ON T1.Id  =  T2.Maker GROUP BY T1.Id HAVING count(*)  >  3;', 'car_1'], ['What are the ids of all makers with more than 3 models?', 'SELECT T1.Id FROM CAR_MAKERS AS T1 JOIN MODEL_LIST 

In [201]:
notice = [0] * len(Golds)
for i in range(0, len(Golds)):
    gs = Golds[i].split(' ')
    if 'GROUP' in gs:
        gb = gs[gs.index('GROUP') + 2: gs.index('GROUP') + 3][0]
        #print(Golds[i])
        #print(gb)
        if gb in col[i] and len(col[i]) == 2 and 'number of ' in col[i]:
            print(Questions[i])
            print(Golds[i])
            print(col[i])
print(col)
print(QSplitted)
#same = []

Show all document ids and the number of paragraphs in each document. Order by document id.

SELECT document_id ,  count(*) FROM Paragraphs GROUP BY document_id ORDER BY document_id

['document_id', 'number of ']
Return the different document ids along with the number of paragraphs corresponding to each, ordered by id.

SELECT document_id ,  count(*) FROM Paragraphs GROUP BY document_id ORDER BY document_id

['document_id', 'number of ']
Which country has the most of TV Channels? List the country and number of TV Channels it has.

SELECT Country ,  count(*) FROM TV_Channel GROUP BY Country ORDER BY count(*) DESC LIMIT 1;

['Country', 'number of ']
What is the country with the most number of TV Channels and how many does it have?

SELECT Country ,  count(*) FROM TV_Channel GROUP BY Country ORDER BY count(*) DESC LIMIT 1;

['Country', 'number of ']
List the language used least number of TV Channel. List language and number of TV Channel.

SELECT LANGUAGE ,  count(*) FROM TV_Channel GROUP BY LANGUAGE ORDER BY count(*) ASC LIMIT 1;

['LANGUAGE', 'number of ']
What are the languages used by the least number of TV Channels and how many channels use it?

SELECT LANGUAGE ,  count(*) FROM TV_Channel GROUP BY LANGUAGE ORDER BY count(*) ASC LIMIT 1;

['LANGUAGE', 'number of ']
[['name', ' country', ' age'], ['name', ' country', ' age'], ['average age', 'minimum age', 'maximum age'], ['average age', 'minimum age', 'maximum age'], ['song_name', ' song_release_year'], ['song_name', ' song_release_year'], ['country', 'number of '], ['country', 'number of '], ['LOCATION', ' name'], ['LOCATION', ' name'], ['average capacity', 'maximum capacity'], ['average capacity', 'maximum capacity'], ['name', ' capacity'], ['name', ' capacity'], ['T2.name', 'number of '], ['T2.name', 'number of '], ['T2.name', ' T2.capacity'], ['T2.name', ' T2.capacity'], ['T2.concert_name', ' T2.theme', 'number of '], ['T2.concert_name', ' T2.theme', 'number of '], ['T2.name', 'number of '], ['T2.name', 'number of '], ['name', ' country'], ['name', ' country'], ['T2.name', ' T2.location'], ['T2.name', ' T2.location'], ['maximum weight', ' petType'], ['maximum weight', ' petType'], ['major', ' age'], ['major', ' age'], ['T1.fname', ' T1.age'], ['T1.fname', ' T1.age'], ['pettype', ' weight'], ['pettype', ' weight'], ['petid', ' weight'], ['petid', ' weight'], ['average pet_age', 'maximum pet_age', ' pettype'], ['average pet_age', 'maximum pet_age', ' pettype'], ['average weight', ' pettype'], ['average weight', ' pettype'], ['DISTINCT T1.fname', ' T1.age'], ['DISTINCT T1.fname', ' T1.age'], ['number of ', ' T1.stuid'], ['number of ', ' T1.stuid'], ['T1.fname', ' T1.sex'], ['T1.fname', ' T1.sex'], ['T1.ContId', ' T1.Continent', 'number of '], ['T1.ContId', ' T1.Continent', 'number of '], ['T1.FullName', ' T1.Id', 'number of '], ['T1.FullName', ' T1.Id', 'number of '], ['T2.Make', ' T1.Year'], ['T2.Make', ' T1.Year'], ['T1.Continent', 'number of '], ['T1.Continent', 'number of '], ['number of ', ' T2.FullName', ' T2.id'], ['number of ', ' T2.FullName', ' T2.id'], ['Maker', ' Model'], ['Maker', ' Model'], ['T1.CountryName', ' T1.CountryId'], ['T1.CountryName', ' T1.CountryId'], ['average Weight', ' YEAR'], ['average Weight', ' YEAR'], ['T2.horsepower', ' T1.Make'], ['T2.horsepower', ' T1.Make'], ['maximum Accelerate', ' Cylinders'], ['maximum Accelerate', ' Cylinders'], ['T1.FullName', ' T1.Id'], ['T1.FullName', ' T1.Id'], ['T2.MakeId', ' T2.Make'], ['T2.MakeId', ' T2.Make'], ['T1.Id', ' T1.Maker'], ['T1.Id', ' T1.Maker'], ['T1.countryId', ' T1.CountryName'], ['T1.countryId', ' T1.CountryName'], ['Airline', ' Abbreviation'], ['Airline', ' Abbreviation'], ['AirportCode', ' AirportName'], ['AirportCode', ' AirportName'], ['City', ' Country'], ['City', ' Country'], ['T1.Abbreviation', ' T1.Country'], ['T1.Abbreviation', ' T1.Country'], ['number of ', ' city'], ['number of ', ' city'], ['number of ', ' LOCATION'], ['number of ', ' LOCATION'], ['manager_name', ' district'], ['manager_name', ' district'], ['minimum Number_products', 'maximum Number_products'], ['minimum Number_products', 'maximum Number_products'], ['name', ' LOCATION', ' district'], ['name', ' LOCATION', ' district'], ['number of ', ' t2.name'], ['number of ', ' t2.name'], ['document_id', ' document_name', ' document_description'], ['document_id', ' document_name', ' document_description'], ['document_name', ' template_id'], ['document_name', ' template_id'], ['document_id', ' template_id', ' Document_Description'], ['document_id', ' template_id', ' Document_Description'], ['template_id', 'number of '], ['template_id', 'number of '], ['T1.template_id', ' T2.Template_Type_Code'], ['T1.template_id', ' T2.Template_Type_Code'], ['template_id', ' version_number', ' template_type_code'], ['template_id', ' version_number', ' template_type_code'], ['version_number', ' template_type_code'], ['version_number', ' template_type_code'], ['template_type_code', 'number of '], ['template_type_code', 'number of '], ['minimum Version_Number', ' template_type_code'], ['minimum Version_Number', ' template_type_code'], ['T1.template_type_code', 'number of '], ['T1.template_type_code', 'number of '], ['template_type_code', ' template_type_description'], ['template_type_code', ' template_type_description'], ['T1.paragraph_id', '  T1.paragraph_text'], ['T1.paragraph_id', '  T1.paragraph_text'], ['document_id', 'number of '], ['document_id', 'number of '], ['T1.document_id', ' T2.document_name', 'number of '], ['T1.document_id', ' T2.document_name', 'number of '], ['T1.document_id', ' T2.document_name'], ['T1.document_id', ' T2.document_name'], ['Age', ' Hometown'], ['Age', ' Hometown'], ['Hometown', 'number of '], ['Hometown', 'number of '], ['T3.Name', ' T2.Course'], ['T3.Name', ' T2.Course'], ['T3.Name', ' T2.Course'], ['T3.Name', ' T2.Course'], ['T2.Name', 'number of '], ['T2.Name', 'number of '], ['name', ' Level_of_membership'], ['museum_id', ' name'], ['Num_of_Staff', ' Open_Year'], ['t1.id', ' t1.name', ' t1.age'], ['t2.visitor_id', ' t1.name', ' t1.Level_of_membership'], ['t2.Museum_ID', ' t1.name'], ['t1.name', ' t1.age'], ['average num_of_ticket', 'maximum num_of_ticket'], ['first_name', ' birth_date'], ['first_name', ' birth_date'], ['average loser_age', 'average winner_age'], ['average loser_age', 'average winner_age'], ['T1.country_code', ' T1.first_name'], ['T1.country_code', ' T1.first_name'], ['first_name', ' country_code'], ['first_name', ' country_code'], ['first_name', ' last_name'], ['first_name', ' last_name'], ['first_name', ' last_name'], ['first_name', ' last_name'], ['T1.country_code', ' T1.first_name'], ['T1.country_code', ' T1.first_name'], ['winner_name', ' winner_rank_points'], ['winner_name', ' winner_rank_points'], ['winner_name', ' loser_name'], ['winner_name', ' loser_name'], ['average ranking', ' T1.first_name'], ['average ranking', ' T1.first_name'], ['sum of ranking_points', ' T1.first_name'], ['sum of ranking_points', ' T1.first_name'], ['number of ', ' country_code'], ['number of ', ' country_code'], ['sum of tours', ' ranking_date'], ['sum of tours', ' ranking_date'], ['number of ', ' YEAR'], ['number of ', ' YEAR'], ['DISTINCT winner_name', ' winner_rank'], ['DISTINCT winner_name', ' winner_rank'], ['T1.first_name', ' T1.country_code', ' T1.birth_date'], ['T1.first_name', ' T1.country_code', ' T1.birth_date'], ['number of ', ' hand'], ['number of ', ' hand'], ['name', ' tonnage'], ['name', ' date'], ['maximum killed', 'minimum killed'], ['T1.killed', ' T1.injured'], ['name', ' RESULT'], ['DISTINCT T1.id', ' T1.name'], ['T1.id', ' T1.name'], ['T2.id', ' T2.name'], ['T1.name', ' T1.date'], ['name', ' RESULT', ' bulgarian_commander'], ['line_1', ' line_2'], ['line_1', ' line_2'], ['T2.department_name', ' T1.department_id'], ['T2.department_name', ' T1.department_id'], ['section_name', ' section_description'], ['section_name', ' section_description'], ['T1.course_name', ' T1.course_id'], ['T1.course_name', ' T1.course_id'], ['T1.semester_name', ' T1.semester_id'], ['T1.semester_name', ' T1.semester_id'], ['T1.first_name', ' T1.middle_name', ' T1.last_name', ' T1.student_id'], ['T1.first_name', ' T1.middle_name', ' T1.last_name', ' T1.student_id'], ['DISTINCT T1.first_name', ' T1.middle_name', ' T1.last_name'], ['DISTINCT T1.first_name', ' T1.middle_name', ' T1.last_name'], ['T1.degree_program_id', ' T1.degree_summary_name'], ['T1.degree_program_id', ' T1.degree_summary_name'], ['T1.student_id', ' T1.first_name', ' T1.middle_name', ' T1.last_name', 'number of ', ' T1.student_id'], ['T1.student_id', ' T1.first_name', ' T1.middle_name', ' T1.last_name', 'number of ', ' T1.student_id'], ['T2.transcript_date', ' T1.transcript_id'], ['T2.transcript_date', ' T1.transcript_id'], ['first_name', ' middle_name', ' last_name'], ['first_name', ' middle_name', ' last_name'], ['first_name', ' middle_name', ' last_name'], ['first_name', ' middle_name', ' last_name'], ['T1.address_id', ' T1.line_1', ' T1.line_2'], ['T1.address_id', ' T1.line_1', ' T1.line_2'], ['transcript_date', ' other_details'], ['transcript_date', ' other_details'], ['number of ', ' student_course_id'], ['number of ', ' student_course_id'], ['T2.transcript_date', ' T1.transcript_id'], ['T2.transcript_date', ' T1.transcript_id'], ['title', ' Directed_by'], ['title', ' Directed_by'], ['Country', 'number of '], ['Country', 'number of '], ['number of different series_name', 'number of different count(DISTINCT content'], ['number of different series_name', 'number of different count(DISTINCT content'], ['LANGUAGE', 'number of '], ['LANGUAGE', 'number of '], ['LANGUAGE', 'number of '], ['LANGUAGE', 'number of '], ['Episode', ' Rating'], ['Episode', ' Rating'], ['maximum SHARE', 'minimum SHARE'], ['maximum SHARE', 'minimum SHARE'], ['number of ', ' Directed_by'], ['number of ', ' Directed_by'], ['production_code', ' channel'], ['production_code', ' channel'], ['package_option', ' series_name'], ['package_option', ' series_name'], ['T1.series_name', ' T1.country'], ['T1.series_name', ' T1.country'], ['Pixel_aspect_ratio_PAR', ' country'], ['Pixel_aspect_ratio_PAR', ' country'], ['Final_Table_Made', ' Best_Finish'], ['Final_Table_Made', ' Best_Finish'], ['Nationality', 'number of '], ['Nationality', 'number of '], ['Name', ' Birth_Date'], ['Name', ' Birth_Date'], ['contestant_number', ' contestant_name'], ['vote_id', ' phone_number', ' state'], ['maximum area_code', 'minimum area_code'], ['DISTINCT state', ' created'], ['T1.contestant_number', 'T1.contestant_name'], ['T1.contestant_number', 'T1.contestant_name'], ['T2.created', ' T2.state', ' T2.phone_number'], ['Population', ' LifeExpectancy'], ['Population', ' LifeExpectancy'], ['Population', ' Region'], ['Population', ' Region'], ['sum of Population', 'maximum GNP'], ['sum of Population', 'maximum GNP'], ['average GNP', 'sum of population'], ['average GNP', 'sum of population'], ['T1.Name', ' T1.Population'], ['T1.Name', ' T1.Population'], ['Name', ' Population', ' LifeExpectancy'], ['Name', ' Population', ' LifeExpectancy'], ['Name', ' SurfaceArea', ' IndepYear'], ['Name', ' SurfaceArea', ' IndepYear'], ['Name', ' population', ' HeadOfState'], ['Name', ' population', ' HeadOfState'], ['number of T2.Language', ' T1.Name'], ['number of T2.Language', ' T1.Name'], ['number of ', ' District'], ['number of ', ' District'], ['sum of Population', ' GovernmentForm'], ['sum of Population', ' GovernmentForm'], ['sum of Population', 'average LifeExpectancy', ' Continent'], ['sum of Population', 'average LifeExpectancy', ' Continent'], ['Name', ' SurfaceArea'], ['Name', ' SurfaceArea'], ['sum of Population', 'average SurfaceArea'], ['sum of Population', 'average SurfaceArea'], ['LANGUAGE', ' CountryCode', 'maximum Percentage'], ['LANGUAGE', ' CountryCode', 'maximum Percentage'], ['number of ', 'maximum Percentage'], ['number of ', 'maximum Percentage'], ['CountryCode', 'maximum Percentage'], ['CountryCode', 'maximum Percentage'], ['maximum SHARE', 'minimum SHARE'], ['maximum SHARE', 'minimum SHARE'], ['T1.Name', ' T2.Orchestra'], ['T1.Name', ' T2.Orchestra'], ['Record_Company', 'number of '], ['Record_Company', 'number of '], ['name', ' grade'], ['name', ' grade'], ['grade', 'number of '], ['grade', 'number of '], ['student_id', 'number of '], ['student_id', 'number of '], ['T2.name', 'number of '], ['T2.name', 'number of '], ['student_id', 'number of '], ['student_id', 'number of '], ['T2.name', 'number of '], ['T2.name', 'number of '], ['professional_id', ' last_name', ' cell_number'], ['professional_id', ' last_name', ' cell_number'], ['professional_id', ' role_code', ' email_address'], ['professional_id', ' role_code', ' email_address'], ['T1.owner_id', ' T2.first_name', ' T2.last_name'], ['T1.owner_id', ' T2.first_name', ' T2.last_name'], ['T1.professional_id', ' T1.role_code', ' T1.first_name'], ['T1.professional_id', ' T1.role_code', ' T1.first_name'], ['T1.owner_id', ' T1.last_name'], ['T1.owner_id', ' T1.last_name'], ['T1.owner_id', ' T1.zip_code'], ['T1.owner_id', ' T1.zip_code'], ['T1.professional_id', ' T1.cell_number'], ['T1.professional_id', ' T1.cell_number'], ['DISTINCT T1.first_name', ' T1.last_name'], ['DISTINCT T1.first_name', ' T1.last_name'], ['T1.date_of_treatment', ' T2.first_name'], ['T1.date_of_treatment', ' T2.first_name'], ['T1.cost_of_treatment', ' T2.treatment_type_description'], ['T1.cost_of_treatment', ' T2.treatment_type_description'], ['T1.first_name', ' T1.last_name', ' T2.size_code'], ['T1.first_name', ' T1.last_name', ' T2.size_code'], ['T1.first_name', ' T2.name'], ['T1.first_name', ' T2.name'], ['T1.name', ' T2.date_of_treatment'], ['T1.name', ' T2.date_of_treatment'], ['T1.first_name', ' T2.name'], ['T1.first_name', ' T2.name'], ['DISTINCT T1.date_arrived', ' T1.date_departed'], ['DISTINCT T1.date_arrived', ' T1.date_departed'], ['date_arrived', ' date_departed'], ['date_arrived', ' date_departed'], ['role_code', ' street', ' city', ' state'], ['role_code', ' street', ' city', ' state'], ['first_name', ' last_name', ' email_address'], ['first_name', ' last_name', ' email_address'], ['name', ' age', ' weight'], ['name', ' age', ' weight'], ['charge_type', ' charge_amount'], ['charge_type', ' charge_amount'], ['email_address', ' cell_number', ' home_phone'], ['email_address', ' cell_number', ' home_phone'], ['DISTINCT breed_code', ' size_code'], ['DISTINCT breed_code', ' size_code'], ['DISTINCT T1.first_name', ' T3.treatment_type_description'], ['DISTINCT T1.first_name', ' T3.treatment_type_description'], ['Birth_Year', ' Citizenship'], ['Birth_Year', ' Citizenship'], ['Citizenship', 'number of '], ['Citizenship', 'number of '], ['Citizenship', 'maximum Net_Worth_Millions'], ['Citizenship', 'maximum Net_Worth_Millions'], ['T2.Title', ' T1.Name'], ['T2.Title', ' T1.Name'], ['T1.Name', 'sum of T2.Sales'], ['T1.Name', 'sum of T2.Sales']]

In [142]:
#print(same)
                
#testQ = []
#testG = []
#testQS = []
#testGS = []
#for i in range(0, 10):
    #print(i)
    #testQ.append(Questions[i])
    #testG.append(Golds[i])
    #testQS.append(QSplitted[i])
    #testGS.append(GSplitted[i])
    #print(Questions[i])
    #print(QSplitted[i])
    #print(Golds[i])
    #print(GSplitted[i])

0