In [16]:
import re
lines = []
Questions = []
Golds = []
QSplitted = []
GSplitted = []
col = []
lines = list(open("spider_multi_col_22000.txt", "r", encoding='utf-8').readlines())
# you may also want to remove whitespace characters like `\n` at the end of each line
for i in range(0, len(lines)):
    if(i%3 == 0):
        Questions.append(lines[i])
        QSplitted.append(re.split(', and |, | and |and |\n',lines[i]))
    if(i%3 == 1):
        Golds.append(lines[i])
        GSplitted.append(re.split(';| ,  | |\n',lines[i]))
        
for g in GSplitted:
    start = g.index("SELECT") + 1
    end = g.index("FROM")
    if(g[start] == "DISTINCT"):
        col.append(g[start+1:end])
    if(g[start] == "count(DISTINCT"):
        col.append(g[start:end])

    
weird = {"avg": "average", "min": "minimum", "max": "maximum", "sum": "sum", "count": "number of ", "count(DISTINCT": "number of different "}

testQ = []
testG = []
testQS = []
testGS = []
for i in range(0, 10):
    print(i)
    testQ.append(Questions[i])
    testG.append(Golds[i])
    testQS.append(QSplitted[i])
    testGS.append(GSplitted[i])
    print(Questions[i])
    print(QSplitted[i])
    print(Golds[i])
    print(GSplitted[i])

0
Show name, country, age for all singers ordered by age from the oldest to the youngest.

['Show name', 'country', 'age for all singers ordered by age from the oldest to the youngest.', '']
SELECT name ,  country ,  age FROM singer ORDER BY age DESC

['SELECT', 'name', 'country', 'age', 'FROM', 'singer', 'ORDER', 'BY', 'age', 'DESC', '']
1
What are the names, countries, and ages for every singer in descending order of age?

['What are the names', 'countries', 'ages for every singer in descending order of age?', '']
SELECT name ,  country ,  age FROM singer ORDER BY age DESC

['SELECT', 'name', 'country', 'age', 'FROM', 'singer', 'ORDER', 'BY', 'age', 'DESC', '']
2
What is the average, minimum, and maximum age of all singers from France?

['What is the average', 'minimum', 'maximum age of all singers from France?', '']
SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'

['SELECT', 'avg(age)', 'min(age)', 'max(age)', 'FROM', 'singer', 'WHERE', 'country', '', '=', '', "'France'", '']
3
What is the average, minimum, and maximum age for all French singers?

['What is the average', 'minimum', 'maximum age for all French singers?', '']
SELECT avg(age) ,  min(age) ,  max(age) FROM singer WHERE country  =  'France'

['SELECT', 'avg(age)', 'min(age)', 'max(age)', 'FROM', 'singer', 'WHERE', 'country', '', '=', '', "'France'", '']
4
Show the name and the release year of the song by the youngest singer.

['Show the name', 'the release year of the song by the youngest singer.', '']
SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

['SELECT', 'song_name', 'song_release_year', 'FROM', 'singer', 'ORDER', 'BY', 'age', 'LIMIT', '1', '']
5
What are the names and release years for all the songs of the youngest singer?

['What are the names', 'release years for all the songs of the youngest singer?', '']
SELECT song_name ,  song_release_year FROM singer ORDER BY age LIMIT 1

['SELECT', 'song_name', 'song_release_year', 'FROM', 'singer', 'ORDER', 'BY', 'age', 'LIMIT', '1', '']
6
Show all countries and the number of singers in each country.

['Show all countries', 'the number of singers in each country.', '']
SELECT country ,  count(*) FROM singer GROUP BY country

['SELECT', 'country', 'count(*)', 'FROM', 'singer', 'GROUP', 'BY', 'country', '']
7
How many singers are from each country?

['How many singers are from each country?', '']
SELECT country ,  count(*) FROM singer GROUP BY country

['SELECT', 'country', 'count(*)', 'FROM', 'singer', 'GROUP', 'BY', 'country', '']
8
Show location and name for all stadiums with a capacity between 5000 and 10000.

['Show location', 'name for all stadiums with a capacity between 5000', '10000.', '']
SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000

['SELECT', 'LOCATION', 'name', 'FROM', 'stadium', 'WHERE', 'capacity', 'BETWEEN', '5000', 'AND', '10000', '']
9
What are the locations and names of all stations with capacity between 5000 and 10000?

['What are the locations', 'names of all stations with capacity between 5000', '10000?', '']
SELECT LOCATION ,  name FROM stadium WHERE capacity BETWEEN 5000 AND 10000

['SELECT', 'LOCATION', 'name', 'FROM', 'stadium', 'WHERE', 'capacity', 'BETWEEN', '5000', 'AND', '10000', '']